@mixin sectionFormat($bg-color, $marg: 20px, $pad: 20px) {
  margin: $marg;
  padding: $pad;
  background-color: $bg-color;
  height: 100vh;
  color: $white;
}

@mixin flex($direction, $justify, $align ) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}