@import '_variables';

@mixin sectionFormat($bg-color, $marg: 0, $padleft: 0, $padright: 0, $secHeight: 100vh) {
  font-family: $font-theme;
  margin: $marg;
  padding-left: $padleft;
  padding-right: $padright;
  background-color: $bg-color;
  height: $secHeight;
  width: 100%;
  color: $white;
}

@mixin flex($direction, $justify, $align ) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin navButton ($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  font-family: $font-theme;
  font-size: 25px;
  border-style: none;
  border-radius: 0.35rem;
  outline: none;
  margin: 1vh;
  padding: 1vh;
  cursor: pointer;
}

@mixin navContainer ($bg-color, $hover-color, $trans-interval) {
  transition: background-color $trans-interval ease-in;
  position: fixed;
  width: 100vw;
  top: 0;
  height: 7.75vh;
  background-color: $bg-color;
  .nav-button {
    @include navButton(transparent, $gray);
    font-size: 1.5vw;
    font-family: 'Playfair Display';
    font-weight: Bold Italic;
  }
  .nav-button:hover {
    border: 1px solid $hover-color;
  }
}