@import '_variables';
@import '_partials';

body {
  background-color: $black;
}

/////// REFACTOR SOME OF THE CODE DOWN INTO MIXINS ////////


//============ NAVBAR SCROLL ==================//

.nav-scroll {
  @include flex(row, center, center);
  transition: background-color .2s ease-in;
  position: fixed;
  width: 100vw;
  top: 0;
  height: 7vh;
  background-color: $white;
  .nav-button {
    @include navButton(transparent, $black);
  }
  .nav-button:hover {
    background-color: lightgray;
  }
  .nav-button-active {
    @include navButton($black, $white);
    color: $white;
  }
}

//============ HOME PAGE / NAVBAR =============//

.main {
  @include flex(column, center, center);
  .titles {
    margin-bottom: 10vh;
  }
  &.home {
    @include sectionFormat(transparent);
  }
  &.aboutme {
    @include sectionFormat(transparent, 5%);
    text-align: center;
    .portfolio-picture {
      height: 300px;
      width: 270px;
      border-radius: 200px;
    }
  }
  &.projects {
    @include sectionFormat(transparent, 5%);
    @include flex(column, center, center);
    font-size: 35px;

    .projects-group {
      @include flex(row, space-around, center);
    }
    .project {
      @include sectionFormat(transparent, 10vh, 5vh);
      @include flex(column, start, center);
    }
  }
  &.resume {
    @include sectionFormat(transparent, 5%);
  }
  .up-top {
    @include flex(row, start, center);
    width: 100vw;
    position: fixed;
    top: 7vh;
    margin: 1vh;
    padding: 1vh;
  }
  .up-top-button {
    @include navButton(transparent, $white);
    border: 1px solid white;
  }
  .up-top-button:hover {
    // transition: background-color .1s ease-in;
    background-color: darkgray;
  }
  .navbar-container {
    @include flex(horizontal, center, center);
    transition: background-color .2s ease-in;
    position: fixed;
    width: 100vw;
    top: 0;
    height: 7vh;
    background-color: transparent;
    .nav-button {
      @include navButton(transparent, $white);
    }
    .nav-button:hover {
      background-color: darkgray;
    }
    .nav-button-active {
      @include navButton($white, $black);
      color: $black;
    }
  }
}

