@import '_variables';
@import '_partials';

body {
  background-color: $black;
}

/////// REFACTOR SOME OF THE CODE DOWN INTO MIXINS ////////


//============ NAVBAR SCROLL ==================//

.nav-scroll {
  @include flex(row, center, center);
  transition: background-color .2s ease-in;
  position: fixed;
  width: 100vw;
  top: 0;
  height: 10vh;
  background-color: $white;
  border: 1px solid $black;
  border-radius: 0.25rem;
  button{
    background-color: transparent;
    border-style: none;
    border-radius: 0.35rem;
    margin: 1vh;
    padding: 1vh;
  }
  .navbar-text {
    color: $black;
    opacity: 1;
    font-size: 20px;
  }
}

//============ HOME PAGE / NAVBAR =============//

.main {
  @include flex(column, center, center);
  &.home {
    @include sectionFormat(transparent);
  }
  &.aboutme {
    @include sectionFormat(transparent);
  }
  &.projects {
    @include sectionFormat(transparent);
  }
  &.resume {
    @include sectionFormat(transparent);
  }
  .navbar-container {
    @include flex(horizontal, center, center);
    transition: background-color .2s ease-in;
    position: fixed;
    width: 100vw;
    top: 0;
    height: 10vh;
    background-color: transparent;
    button{
      background-color: transparent;
      border-style: none;
      border-radius: 0.35rem;
      margin: 1vh;
      padding: 1vh;
    }
    .navbar-text {
      color: $white;
      opacity: 1;
      font-size: 20px;
    }
  }
}

