@import '_variables';
@import '_partials';

@import url(http://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Raleway);
// @import "~react-customizable-carousel/styles/index.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;

  // overflow: auto;
}

body {
  background-color: #181818;
}

#primary-text {
  font-family: 'Playfair Display';
  font-weight: Bold Italic;
}

#secondary-text {
  font-family: 'Raleway';
  font-weight: normal;
  font-size: 30px;
}

#tertiary-text {
  font-family: 'Raleway';
  font-weight: normal;
  font-size: 18px;
}


/////// REFACTOR SOME OF THE CODE DOWN INTO MIXINS ////////

//============= NAVBAR ==================//

#navbar-container {
  @include flex(column, flex-start, flex-start);
  width: 40vw;
  height: 100%;
  background-color: rgb(87, 87, 87);
  position: fixed;
  // display: block;
  top: 0;
  left: 0;
  padding-top: 4%;
  overflow: scroll;
  font-size: 20px;
}

#navbar-container.hide {
  transform: translate3d(-40vw, 0, 0);
  opacity: 0;
  transition: transform 0.5s, opacity 0.7s;
}

#navbar-container.show {
  transform: translate3d(0vw, 0, 0);
  opacity: 1;
  z-index: 100;
  overflow: hidden;
  transition: transform 0.5s, opacity 0.7s;
}

#navbar-container h2 a {
  margin-left: 5vw;
  color: rgb(19, 19, 19);
  transition: color 0.4s;
  // padding: 8px 8px 8px 32px;
  text-decoration: none;
}

#navbar-container h2 a:hover {
  color: #bebcb3;
  transition: color 0.2s;
}

#show {
  // background-color: rgba(37, 37, 37, 0.2);
  // margin-left: 15vw;
  // transition: margin-left 0.5s;
  // transition: background-color 0.5s;
}

#hide {
  // margin-left: 0vw;
  // transition: margin-left 0.5s;
  // transition: background-color 0.5s;
}

//============ HAMBURGER MENU ===============//

#hamburgerButton {
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 20px;
}

.menu-container {
  display: inline-block;
  cursor: pointer;
  margin-top: 10px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fbf9f1;
  margin: 6px 0;
  transition: 0.4s;
}

.change {
  cursor: pointer;
  margin-top: 10px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

//============ HOME PAGE =============//
.typist-container {
  @include flex(column, center, center);
  background-color: #3d3d3d;
  height: 50%;
  width: 50%;
}

.main {
  @include flex(column, center, center);
  .titles {
    padding: 5vh;
    margin-bottom: 10vh;
    font-size: 50px;
  }
  &.home {
    .typist {
      font-size: 75px;
    }
    @include flex(row, flex-end, center);
    @include sectionFormat(#8c8c8c);
    top: 0;
    text-align: center;
    font-size: 200%;
  }
  &.aboutme {
    @include sectionFormat(#3d3d3d);
    @include flex(column, space-around, center);
    text-align: left;
    color: white;
    .portfolio-picture {
      align-self: flex-start;
      margin-left: 100px;
      height: 300px;
      width: 270px;
      border-radius: 100px;
    }
  }
  .aboutme-name {
    font-size: 72px;
  }
  #aboutme-bar {
    @include flex(row, center, space-between);
    align-self: flex-start;
  }
  #aboutme-assets {
    text-align: center;
    margin-left: 50px;
  }
  #aboutme-links {
    @include flex(row, center, center);
  }
  .aboutme-text {
    padding-left: 100px;
    padding-right: 100px;
  }
  #img-links {
    // background-color: white;
    border: 1px solid gray;
    border-radius: 0.5rem;
    height: 70px;
    width: 70px;
    margin: 15px;
  }
  &.projects {
    @include sectionFormat(#8c8c8c);
    @include flex(column, center, center);
    .projects-group {
      width: 80vw;
      height: 50vh;
      @include flex(row, center, center);
    }
    .project {
      @include flex(column, start, center);
      padding: 10px;
      width: 50vw;
      height: 50vh;
      font-family: 'Raleway';
      font-weight: normal;
      font-size: 20px;
      color: red;
    }
    #bartr-container {
      background-color: red;
      background-image: url('../img/high-resolution-wallpaper-city-wallpaper-picture-night.jpg');
      background-repeat: no-repeat;
      background-size: 500px 500px;
    }
    #snippr-container {
      background-color: blue;
      background-image: url('../img/homemade-icon.png');
      background-repeat: no-repeat;
      background-size: 500px 500px;
    }
    #homemade-container {
      background-image: url('../img/homemade-icon.png');
      background-repeat: no-repeat;
      background-size: 500px 500px;
    }
  }
  &.resume {
    @include sectionFormat(transparent);
  }
}
  
//============== METRONOME ===============//

.metronome {
  text-align: center;
  max-width: 375px;
  margin: 0 auto;
  padding: 30px;
  color: white;
}

.bpm-slider input {
  width: 100%;
  margin: 10px;
}

.metronome button {
  background: #C94D46;
  padding: 10px;
  border: 1px solid #832420;
  border-radius: 2px;
  width: 100px;
  color: #fff;
  font-size: 18px;
}