@import url(http://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  background-color: #000; }

#primary-text {
  font-family: 'Playfair Display';
  font-weight: Bold Italic; }

#secondary-text {
  font-family: 'Raleway';
  font-weight: normal; }

.navbar-container {
  display: grid;
  grid-template-columns: 35% 10% 10% 10% 25% 10%;
  grid-column-start: 2;
  -webkit-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
  position: fixed;
  width: 100vw;
  top: 0;
  height: 7.75vh;
  background-color: transparent; }
  .navbar-container #grid-aboutme {
    grid-column: 2 / 3; }
  .navbar-container #grid-top {
    grid-column: 6 / 7; }
  .navbar-container .nav-button {
    background-color: transparent;
    color: #939393;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 25px;
    border-style: none;
    border-radius: 0.35rem;
    outline: none;
    margin: 1vh;
    padding: 1vh;
    font-size: 1.5vw;
    font-family: 'Playfair Display';
    font-weight: Bold Italic; }
  .navbar-container .nav-button:hover {
    border: 1px solid white; }

.nav-scroll {
  display: grid;
  grid-template-columns: 35% 10% 10% 10% 25% 10%;
  grid-column-start: 2;
  -webkit-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
  position: fixed;
  width: 100vw;
  top: 0;
  height: 7.75vh;
  background-color: #fbf9f1; }
  .nav-scroll #grid-aboutme {
    grid-column: 2 / 3; }
  .nav-scroll #grid-top {
    grid-column: 6 / 7; }
  .nav-scroll .nav-button {
    background-color: transparent;
    color: #939393;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 25px;
    border-style: none;
    border-radius: 0.35rem;
    outline: none;
    margin: 1vh;
    padding: 1vh;
    font-size: 1.5vw;
    font-family: 'Playfair Display';
    font-weight: Bold Italic; }
  .nav-scroll .nav-button:hover {
    border: 1px solid black; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .main .titles {
    padding: 5vh;
    margin-bottom: 10vh; }
  .main.home {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: transparent;
    height: 100vh;
    color: #939393;
    width: 30vw;
    text-align: center;
    font-size: 200%; }
    .main.home .home-button {
      background-color: transparent;
      color: #939393;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
      font-size: 25px;
      border-style: none;
      border-radius: 0.35rem;
      outline: none;
      margin: 1vh;
      padding: 1vh;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 120%; }
    .main.home .home-button:hover {
      border: 1px solid #fff; }
  .main.aboutme {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    margin: 5%;
    padding: 20px;
    background-color: transparent;
    height: 100vh;
    color: #939393;
    text-align: center; }
    .main.aboutme .portfolio-picture {
      height: 300px;
      width: 270px;
      border-radius: 100px; }
  .main.projects {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    margin: 5%;
    padding: 20px;
    background-color: transparent;
    height: 100vh;
    color: #939393;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main.projects .projects-group {
      width: 80vw;
      height: 50vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .main.projects .project {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 20px; }
  .main.resume {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    margin: 5%;
    padding: 20px;
    background-color: transparent;
    height: 100vh;
    color: #939393; }

.metronome {
  text-align: center;
  max-width: 375px;
  margin: 0 auto;
  padding: 30px;
  color: white; }

.bpm-slider input {
  width: 100%;
  margin: 10px; }

.metronome button {
  background: #C94D46;
  padding: 10px;
  border: 1px solid #832420;
  border-radius: 2px;
  width: 100px;
  color: #fff;
  font-size: 18px; }
